<div class="container">
    <h2>Salvar Contato</h2>

    <form>

        <div class="form-group">
            <label for="nome"> Nome </label>
            <input type="text" class="form-control" placeholder="Insira o nome" 
            name="nome" [(ngModel)]="contato.nome" >
        </div>

        <div class="form-group">
            <label for="email"> Email </label>
            <input type="email" class="form-control" placeholder="Insira o email" 
            name="email" [(ngModel)]="contato.email" >
        </div>

        <div class="form-group">
            <label for="nome"> Telefone </label>
            <input type="text" class="form-control" placeholder="Insira o telefone" 
            name="telefone" [(ngModel)]="contato.telefone" >
        </div>

        <button type="submit" class="btn btn-success"> Salvar </button>
        <a class="btn btn-secondary" routerLink="/"> Voltar </a>

    </form>


</div>